* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto auto;
}

nav {
  display: flex;
  height: 10rem;
  width: 100%;
}

main {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

footer {
  display: flex;
}

.logo {
  background-color: gray;
  width: 25%;
}

.menu {
  background-color: blue;
  width: 75%;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vw 40vw;
}

.articles article {
  display: flex;
  flex-direction: column;
}

.articles article:nth-child(1) {
  background-color: aqua;
}

.articles article:nth-child(2) {
  background-color: yellow;
}

.articles article:nth-child(3) {
  background-color: red;
}

.articles article:nth-child(4) {
  background-color: blue;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80vh 80vh 80vh 100vh 300px;
}

.posts article,
.posts div 
{
  border: 1px solid gray;
  width: 100%;
}

.hero {
  background-color: red;
  grid-column: span 4;
  border: 0;
}
